# Python Objects and Data Structure Basics

## Python Data Types

- int
- float
- str
- list
- dict
- tuples
- set
- bool

# INT

In [2]:
1 + 1

2

In [3]:

2 - 1

1

In [4]:
2*2

4

In [5]:
6 / 2

3.0

In [8]:
6 % 5

1

In [8]:
2 ** 3

8

#the floor division // rounds the result down to the nearest whole number

In [12]:
6 // 3

2.0

In [5]:
(2 + 8) + (20 * 20) * (2 * 3)

2410

# Math Functions

### round()
#### makes round a number for us

In [15]:
print(round(2.1))
print(round(2.5))
print(round(2.6))

2
2
3

# abs()
Return the absolute value of a number

In [2]:
print(abs(+1))
print(abs(-1))
print(abs(-1.5))
print(abs(3+5j)) # complex value

1
1
1.5
5.830951894845301

# int()
its make string number to real int type and float number to real int type.

In [6]:
numberOne = '8'
numberTwo = 8.6

print(int(numberOne))
print(int(numberTwo))
print(type(int(numberOne)))
print(type(int(numberTwo)))

8
8
<class 'int'>
<class 'int'>

# float()
its make string float to real float type and  int to real float type.

In [8]:
numberOne = "8"
numberTwo = 8

print(float(numberOne))
print(float(numberTwo))
print(type(float(numberOne)))
print(type(float(numberTwo)))

8.0
8.0
<class 'float'>
<class 'float'>

# Operator Precedence
1. ()
2. **
3. `*`
4. /
5. `+`
6. `-`

In [3]:
print((2+2) * 6 + 7 - 2 / 2 ** 2)

30.5

# Variable Assignment 

> Note : python is dynamic type
> python variable name type should be snake case
>> pros and cons = مزایا و معایب
>>> aware of = آگاهی از

In [6]:
user_name = "Alireza"
user_id = 140264
user_books = ["lex", "ilon musk", "learning python"]

In [10]:
user_name

'Alireza'

# Constant Variable
for write constant variable we should write constant variable letter to uppercase and seprate them with underline like this : 
- PI 
- USERNAME
- USER_ID
- PHONE_NUMBER

In [12]:
USER_ID = 8882457
print(f"Your unique user id is : {USER_ID}")

Your unique user id is : 8882457

### Type() : this function allow us to know what is our variable type.

In [12]:
a = 8
b = "saman"
c = ["a", "b", "c"]
d = 3.5

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'float'>

# Expression vs. Statement

Expression : the peace of code that produce a value.

In [13]:
2 * 2 # Expression

Statement : Entire line of code that perform some action.

In [14]:
do_math = 2 * 2 # this is statement

### Mini Project (calculate Tax)

In [15]:
user_income = int(input("Pleas Enter Your Income : "))
state_tax = 0.01
calculate_tax = user_income * state_tax

print(f'You should pay {calculate_tax}$')

You should pay 10.0$

# Augmented Assignment Operator

In [19]:
some_value = 8
# some_value += 8
# some_value -= 2
# some_value /= 2
some_value *= 2

print(some_value)

16

# String
> Note : Because string are ordered sequences it means we can using indexing and slicing to grab sub-sections of the string.
> Indexing notation uses [] notation after string (or variable assigned the string)
> Indexing allows you to grab a single character from the string.

![](../image/string_index.png)

In [38]:
print("Hello This is Alireza")

print('Hello This is Alireza')

print("""
    hello This is alireza
    fazeli in this code

""")

print("this is 'alireza' ")


print('''

    this is
    alireza 
    fazeli

''')

Hello This is Alireza
Hello This is Alireza

    hello This is alireza
    fazeli in this code


this is 'alireza'


    this is
    alireza
    fazeli

# String Concatenation

> we cant concat string with int. first we should convert str to int

In [24]:
user_name = "alirezafazeli"
password = "1234"

msg_server = "Hi " + user_name + ". You last password is : " + password + " . Pleas be safe !"

print(msg_server)

Hi alirezafazeli. You last password is : 1234 . Pleas be safe !

# Escape Sequence

### \n : this is in the string make new line.

In [39]:
print("Hi Guys. \n How You Doing Today? \n tell me more.")

Hi Guys.
 How You Doing Today?
 tell me more.

### \t : this make tab for us in text.

In [41]:
print("hi \t alireza. \t shut up")

hi 	 alireza. 	 shut up

\ : everything after this would be a string.

In [29]:
text = "\\t hi \" "
print(text)

\t hi "

## len() : len function count the string and array item length.

In [43]:
name = "alireza"
print(len(name))

names = ["alireza", "sara", "sasan", "arash"]
print(len(names))

7
4

# Slice String 
### : slicing allows you to grab a subsection of multiple characters, a "slice" of the string.

[start:stop:step]

In [1]:
full_name = "Alireza Fazeli"

print(full_name[0:7:2])
print(full_name[::1])

Aiea
Alireza Fazeli

In [4]:
full_name[8:]

'Fazeli'

In [9]:
# full_name[:7]
print(full_name[::-1])

ilezaF azerilA

# String 
> Strings are not mutable

In [10]:
name = "Sasan"
name[2] = "m"

print(name)

TypeError: 'str' object does not support item assignment

# Str()
with this method we can convert everythings to string

In [27]:
user_id = 1345454354
names = ['sara', 'mohsen', 'ali', 'javad']
print(type(user_id))
print(type(names))

user_id = str(user_id)
names = str(names)

print(type(user_id))
print(type(names))

<class 'int'>
<class 'list'>
<class 'str'>
<class 'str'>

# Formatted String

f""

In [30]:
user_name = "alirezafazeli"
user_id = 25545
phone_number = "09386835771"

server_msg = f"""
    Hi {user_name} with user id {user_id}
    we sent message to your phone : {phone_number}
    pleas Answer our question in soon.
    

"""

print(server_msg)

    Hi alirezafazeli with user id 25545
    we sent message to your phone : 09386835771
    pleas Answer our question in soon.

.format()

In [34]:
user_name = "alirezafazeli"
user_id = 25545
phone_number = "09386835771"

server_msg = """
    Hi {} with user id {}
    we sent message to your phone : {}
    pleas Answer our question in soon.
    

""".format(user_name, user_id, phone_number)

print(server_msg)

    Hi alirezafazeli with user id 25545
    we sent message to your phone : 09386835771
    pleas Answer our question in soon.

## String Built in Functions

- .upper()
- .lower()
- .capitalize()
- .find()
- .replace()

In [42]:
name = "Alireza"
text = "to be or not to be"

print(name.upper())
print(name.lower())
print(text.capitalize())
print(text.find("or", 5, 10))
print(text.replace("be", "NEW")) # it will be changed all worlds

ALIREZA
alireza
To be or not to be
6
to NEW or not to NEW

# Booleans
True
False

In [43]:
is_cool = True
married = False
male = True
win = False

bool()\
 it will be converted string type bool to boolean type.

In [44]:
is_cool = "True"
is_cool = bool(is_cool)

print(type(is_cool))

<class 'bool'>

## Mini Project : calculate the age

In [46]:
user_year_born = input("What year were you born ?")
now_year = 2024
calculate_age = 2024 - int(user_year_born)
print(f"Your are {calculate_age}, years old")

Your are 20, years old

> if we multiple string to numbers , string will be multiple

```py

print("*" * 10) # **********

```

## Mini Project : Password Checker

In [53]:
user_password = input("Pleas Enter Your Password : ")
calculate_len = "*" * int(len(user_password))
text_msg = f"Your Password length is {calculate_len}"
print(text_msg)

Your Password length is *******

# List

In [56]:
names = ["alireza", "saman", "sajjad", "sajjad"]

print(names[3])

sajjad

List slicing

In [64]:
shopping_card = [
    "book",
    "pen",
    "pencil",
    "glasses",
    "keyboard",
    "Mouse",
    "Monitor"
]

shopping_card_two = shopping_card[::]
shopping_card_two[3] = "Airpod"

print(shopping_card)
print(shopping_card_two)

print(shopping_card_two[3:5])
print(shopping_card_two[:5:2])

['book', 'pen', 'pencil', 'glasses', 'keyboard', 'Mouse', 'Monitor']
['book', 'pen', 'pencil', 'Airpod', 'keyboard', 'Mouse', 'Monitor']
['Airpod', 'keyboard']
['book', 'pencil', 'keyboard']

# Matrix
a way to describe 2d list. this topics is lot used in machine learning and computer vision.

In [67]:
matrix = [
    [1,0,1],
    [0,1,0],
    [1,0,1]
] # it will represent a X

print(matrix[0][1])

0

# List Methods

1. len()
2. .append()
3. .insert()
4. .extend()
5. .pop()
6. .remove()
7. .clear()

In [90]:
numbers = [1, 2, 3, 4, 5, "alireza", {"name": "alireza"}]
number_two = [6, 7, 8, 9]

# print(len(numbers))
# numbers.append(6)
# numbers.insert(6, 6)
# numbers.extend(number_two)

# number_three = numbers.extend(number_two)

# numbers.pop()
numbers.remove({"name": "alireza"})
numbers.clear()

print(numbers)
# print(number_three)

[]