In [5]:
names = ["alireza", "sasan", "sara", "saman", "reza", "ahmad"]

# names_two = names[:]
names_two = names.copy()

names_two[0] = "rajab"
print(names)
print(names_two)


# print(names[1:4])

['alireza', 'sasan', 'sara', 'saman', 'reza', 'ahmad']
['rajab', 'sasan', 'sara', 'saman', 'reza', 'ahmad']

In [2]:
names = ["alireza", "sasan", "sara", "saman", "reza", "ahmad", "sara"]
teachers = ["Javanmard", "fazeli", "mohseni"]
num = [2, 3, 4, 6, 1, 10, 9, 7]

# names.append("new_name")
# names.insert(5, "mohammad")
# names.extend(teachers)
# names.pop()
# names.pop()
# names.pop()
# teachers.remove("Javanmard")
# teachers.clear()

# print(teachers)

In [5]:
# print(names.index("sara", 3))
# print(names.count("sara"))
# num.sort()
# names.sort()
# print(names)
# print(num)



new_sorted_num = sorted(num)
print(num)
# print(num)
print(new_sorted_num)
new_sorted_num.reverse()
print(new_sorted_num)

[2, 3, 4, 6, 1, 10, 9, 7]
[1, 2, 3, 4, 6, 7, 9, 10]
[10, 9, 7, 6, 4, 3, 2, 1]

In [8]:
user_one, user_two, user_three, *another_users = ["alireza", "sasan", "sara", "saman", "reza", "ahmad", "sara"]

print(user_one)
print(user_two)
print(user_three)
print(another_users)

# print("alirezaa" in names)

alireza
sasan
sara
['saman', 'reza', 'ahmad', 'sara']

In [26]:
user_information = {
    "first_name": "alireza",
    "last_name": "fazeli",
    "age": 19,
    "friends": ["mohammad", "javad", 'amir', "ali"]
}

# user_info = user_information.items()
# for item in user_info:
#     print(f'''\n
#            ( {item[0]} : {item[1]} )
          
#           ''')

# # print(user_information.get("age"))
# # print(user_information.keys())
# # print(user_information.values())
# print(user_information.items())

# user_information.pop("age")
# user_information.popitem()
# user_information.update(age=20)
# user_information.update(phone=1134725)

# print(user_information)

{'first_name': 'alireza', 'last_name': 'fazeli', 'age': 20, 'friends': ['mohammad', 'javad', 'amir', 'ali'], 'phone': 1134725}

In [27]:
car = dict(name="benz", country="germany", color="red")

print(car)

{'name': 'benz', 'country': 'germany', 'color': 'red'}

In [29]:
geolocation = (3.2832, 4.9810)

# geolocation[0] = 2.672

print(geolocation[0])

3.2832

In [34]:
my_set = {1, 1, 1, 2, 3, 3, 3,4, 5}
my_set.add(78)

# print(my_set[1])
print(my_set)

{1, 2, 3, 4, 5, 78}

In [10]:
set_one = {1, 2, 3, 4}
set_two = {5, 6, 7, 8}

# print(set_one.difference(set_two))
# set_two.discard(5)
# print(set_two)
# set_one.difference_update(set_two)
# print(set_one)

all_sets = set_one.union(set_two)

print(all_sets)

{1, 2, 3, 4, 5, 6, 7, 8}